.card{
    /* margin-right: 5px; */
    color: rgb(254, 254, 136);
    text-shadow: -3px 3px 6px black;
    line-height: 0.5em; 
    font-size: 10pt;
    font-weight: bold;
    margin: 3px;
    padding-top: 2px;
    height: 95%;
    width: 95% ;
    border-radius: 20px;
    box-shadow: -10px 10px 40px black;
}

p{
    color: rgb(254, 254, 136);
    text-shadow: -3px 3px 6px black;
    line-height: 0.5em; 
    font-size: 10pt;
    font-weight: bold;
}

.button{
    font-size: smaller;
    height: 20px;
    border-style: solid 1px darkgrey;
}

.link{
    opacity: 90%;
    transition: color 0.2s;
    color: rgb(255, 255, 199);
}
.link:hover{
    color: rgb(255, 208, 125);
}