.carddetail{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minimax(15rem, 1fr))
}

p {
    font-weight: bold;
    font-size: smaller;
    justify-content: center;
}

.activities{
    display: grid;
    grid-template-columns:auto auto auto;
}

.card{
    /* border: solid 2px; */
    padding: 5px;
    border-radius: 20px;
    box-shadow: -10px 10px 20px black;
}


.flag{
    height: 250px;
    border-radius: 20px;
    box-shadow: -10px 10px 20px black;
}

.back{
    height: 30px;
    border-radius:  15px ;
}
