.carddetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minimax(15rem, 1fr))
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.h1{
    margin:50px;
    border-radius: 50px;
    color: rgb(52, 52, 52);
    font-weight: bolder;
}
.h3{
    color: rgb(52, 52, 52);
    font-weight: bolder;
}

p {
    font-weight: bold;
    font-size: smaller;
    /* justify-content: center; */
    text-align: left;
}

.activities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    /* justify-items: center; */
}

.card{
    /* border: solid 2px; */
    margin: 10px;
    padding: 5px 25px;
    border-radius: 20px;
    box-shadow: -10px 10px 20px black;
}

.card p{
    font-size: smaller;
    font-weight: lighter;
    line-height: 70%;
}

.flag{
    height: 250px;
    border-radius: 20px;
    box-shadow: -10px 10px 20px black;
}

.back{
    height: 30px;
    border-radius:  15px ;
}

.bolder{
    font-size: large;
}
