html { 
    opacity: 0.98;
    background: url(../../fondoPizarron1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    text-align: center;
}

.filters{
    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-around;
    
}

.paginado{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cards{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    opacity: 65%;
    transition: opacity 0.8s;
    flex-basis: 18%;
  }

.card:hover{
    opacity: 100%;
}

select{
    border-radius: 12px;
    height: 25px;
}

label{
    margin-right: 5px;
    color: rgb(254, 254, 136);
    text-shadow: -4px 4px 6px black;
    line-height: 0.5em; 
    font-size: 10pt;
    font-weight: bold;
}

.warning{
    opacity: 60%;
    width: 330px;
    /* border-radius: 50px;
    box-shadow: -5px 5px 60px black; */
}