html { 
    opacity: 0.98;
    background: url(../../fondoPizarron1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    text-align: center;
}

.filters{
    margin-top: 20px;

    display: grid;
    flex-flow: row-reverse wrap;
    grid-template-columns: auto auto auto;
    align-content: space-between
}

.paginado{
    /* display: grid; */
    display: flex;
    justify-content: center;
}

.cards{
    /* display: grid;
    grid-template-columns: auto auto auto auto auto;
    */
    display: flex;
    flex-flow: row ;
    flex-flow:  wrap;
    justify-content: center;
    /* gap: 20px; */
    /* align-content: space-around  */

}

.card{
    /* size-adjust: 200%; */
    opacity: 65%;
    display: flex;
    transition: opacity 0.8s;
    flex-basis: 18%;
    /* grid-template-columns: 25% 25% 25% 25% ; */
    /* align-content: space-between */
}

.card:hover{
    opacity: 100%;
}

select{
    border-radius: 12px;
    height: 25px;
}

label{
    margin-right: 5px;
    color: rgb(254, 254, 136);
    text-shadow: -4px 4px 6px black;
    line-height: 0.5em; 
    font-size: 10pt;
    font-weight: bold;
}
/* .searchbar{
   display: flex;
   flex-flow: row wrap;
} */