.container{
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
}
.card{
    
    /* size-adjust: 200%; */
    opacity: 65%;
    flex: none;
    /* display: flex; */
    flex-basis: 15%;
    /* grid-template-columns: 25% 25% 25% 25% ; */
    /* align-content: space-between */
}
.cartel{
    background-color: #282c34;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 5px;
    opacity: 70%;
}