.pag{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}
.container{
    margin: 3px ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    opacity: 65%;
    flex: none;
    flex-basis: 15%;
}
.cartel{
    opacity: 70%;
    width: 330px;
}