.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flagcase{
    height: 80px;
    width: 120px;
    border-radius: 50px;
    box-shadow: -10px 10px 40px black;
    display: grid;
    justify-content: center;
    align-content: center;

}

.flag{
    height: 50px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
    /* box-shadow: -10px 10px 40px black; */
}

h5{
    font-size: smaller;
    color: rgb(254, 254, 136);
    text-shadow: -4px 4px 6px black;
    text-align: center;
    line-height: 1.2em; font-size: 10pt;
    margin-bottom: 2px;
    transition: text-shadow 0.5s ease-in-out;
    transition: font-size 0.4s ease-in-out;
}
h6{
    font-weight: bold;
    color: rgb(238, 238, 216);
    margin-top: 0px;
    margin-bottom: 20px;
    text-shadow: -4px 4px 6px black;
    text-align: center;
    line-height: 0.5em; 
}

h5:hover a{
    color: #fff; 
    text-shadow: 0 0 10px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 20px #fff;  
}