.container{
    margin-top: 15px;
    display: grid;
    grid-auto-rows: auto;
    /* flex-wrap: wrap;  */
    
    align-content: space-between;
    justify-items: center;
    /* margin-left: 400px;
    margin-right: 400px; */
    
}

.searchbar{
    margin-top: 15px;
    height: 25px;
    width: 200px;
    border-radius: 8px 0 0 8px  ;
}

.submitbutton{
    height: 30px;
    border-radius:  0 8px 8px 0 ;
}

.clear{
    height: 40px;
    border-radius:  40px ;
}