.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-between;
    /* margin-left: 400px;
    margin-right: 400px; */
    
}

.searchbar{
    height: 19px;
    border-radius: 8px 0 0 8px  ;
}

.submitbutton{
    height: 25px;
    border-radius:  0 8px 8px 0 ;
}

.clear{
    height: 30px;
    border-radius:  15px ;
}