
.landing{
  background: url(../../pexels-andrea-piacquadio-3769138.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  margin: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: rgba(255, 236, 236, 0.8);
  width: 100px;
  height: 50px;
  cursor: pointer;
  border-style: solid;
  opacity: 70%;
  transition: opacity 0.5s;
  border-radius: 50px;
  box-shadow: -10px 10px 40px black;
}
.button:hover{
  opacity: 100%;
}

