.list{
    line-height: 1.2em; font-size: 10pt;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    z-index: 1;
    /* align-items: center;
    justify-content:space-around; */
    
}

.navbar{
    background-color: black;
    opacity: 0.60;
   border-radius: 5px;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: absolute 30px;
    width: 100%;
    z-index: 100; 
    display: flex;
    justify-content: space-between;
}

.navbarcontainer{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

li a{
    padding: 4px;
    transition: text-shadow 0.5s ease-in-out;
    transition: font-size 0.4s ease-in-out;
    font-weight: bold;
}

li:hover a{
    font-size: smaller;
    color: #fff; 
    text-shadow: 0 0 10px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 20px #fff;  
}

.menuitems{
    order: 2;
    display: flex;
}

/* 
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbarcontainer{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menuitems li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}


@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbarcontainer input[type="checkbox"],
    .navbarcontainer .hamburger-lines{
        display: block;
    }

    .navbarcontainer{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbarcontainer input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbarcontainer .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbarcontainer .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbarcontainer .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbarcontainer .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbarcontainer .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbarcontainer input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbarcontainer input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbarcontainer input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbarcontainer input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbarcontainer input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
} 
*/